Repository RADAR-base/RADAR-K8s-Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-docs-cluster, terraform-docs-config

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/crate-ci/typos
  rev: v1.28.4
  hooks:
  - id: typos
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
- repo: https://github.com/thlorenz/doctoc
  rev: v2.2.0
  hooks:
  - id: doctoc
    files: ^README.md$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        config/README.md|
        cluster/README.md
      )$
  - id: mixed-line-ending
  - id: check-yaml
    args:
    - --allow-multiple-documents
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-merge-conflict
  - id: no-commit-to-branch
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.96.2
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
  - id: terraform_tflint
  - id: terraform_trivy
    args:
    - --hook-config=--parallelism-limit=1
    - --args=--severity MEDIUM,HIGH,CRITICAL
    - --args=--skip-dirs="*/.terraform"
    - --args=--tf-exclude-downloaded-modules
  - id: terraform_checkov
    args:
    - --args=--quiet
    - --args=--download-external-modules False
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.5
  hooks:
  - id: actionlint-system
- repo: local
  hooks:
  - id: update-terraform-modules-cluster
    name: Update terraform modules for the Terraform cluster/
    language: system
    entry: terraform -chdir=cluster init -upgrade
    pass_filenames: false
  - id: terraform-docs-cluster
    name: Generate docs for the Terraform cluster/
    language: system
    entry: terraform-docs markdown table cluster/
    pass_filenames: false
    files: 'cluster/'
  - id: update-terraform-modules-config
    name: Update terraform modules for the Terraform config/
    language: system
    entry: terraform -chdir=config init -upgrade
    pass_filenames: false
  - id: terraform-docs-config
    name: Generate docs for the Terraform config/
    language: system
    entry: terraform-docs markdown table config/
    pass_filenames: false
    files: 'config/'
  - id: gitleaks
    name: Run Gitleaks
    language: system
    entry: gitleaks dir --verbose
    require_serial: true
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.1.0
  hooks:
  - id: commitizen
  - id: commitizen-branch
    stages: [pre-push]
    args: [--rev-range, b8223c2d9c5368587ece45f19e36d5909afb8cce..HEAD]

Refactor Azure Terraform configurations and update Checkov policy skips for clarity and specificity
  .gitignore
  .pre-commit-config.yaml
  .trivyignore
  azure/kubernetes/main.tf
  azure/kubernetes/variables.tf
  azure/network/main.tf
  azure/postgresql-flexible-server/main.tf
  azure/registry/README.md
  azure/registry/main.tf
Due: none

chore: update the RDS postgres minor version (#51)
  config/README.md
  config/variables.tf
Due: terraform-docs-config

fix: output the correct EKS admins role ARN (#50)
  cluster/README.md
  cluster/outputs.tf
Due: terraform-docs-cluster

fix: fully disable the canned ACL during bucket creation (#52)
  config/README.md
  config/s3.tf
Due: terraform-docs-config

Remove .trivyignore file from the repository
  .trivyignore
Due: none

Add Azure .terraform.lock.hcl files for deployment setup
  azure/.terraform.lock.hcl
Due: none

Rename Kubernetes cluster and node resource group for clarity
  azure/kubernetes/main.tf
Due: none

Update Terraform provider hashes and constraints
  azure/.terraform.lock.hcl
  azure/kubernetes/.terraform.lock.hcl
  azure/network/.terraform.lock.hcl
  azure/postgresql-flexible-server/.terraform.lock.hcl
  azure/registry/.terraform.lock.hcl
  cluster/.terraform.lock.hcl
  config/.terraform.lock.hcl
Due: terraform-docs-cluster, terraform-docs-config

chore: update dependencies
  cluster/.terraform.lock.hcl
  cluster/README.md
  config/.terraform.lock.hcl
  config/README.md
  devbox.lock
Due: terraform-docs-cluster, terraform-docs-config

chore: update locked dependencies (#57)
  cluster/.terraform.lock.hcl
  cluster/README.md
  config/.terraform.lock.hcl
  config/README.md
  devbox.lock
Due: terraform-docs-cluster, terraform-docs-config

Update .terraform.lock.hcl
  cluster/.terraform.lock.hcl
Due: terraform-docs-cluster

Update .terraform.lock.hcl
  config/.terraform.lock.hcl
Due: terraform-docs-config

feat: add the option to enable Multi-AZ and create replicas for the RDS instance
  cluster/.terraform.lock.hcl
  cluster/README.md
  config/.terraform.lock.hcl
  config/README.md
  config/rds.tf
  config/terraform.tfvars
  config/variables.tf
Due: terraform-docs-cluster, terraform-docs-config

feat: switch to Karpenter v1 for AS
  .pre-commit-config.yaml
  cluster/.terraform.lock.hcl
  cluster/README.md
  cluster/versions.tf
  config/.terraform.lock.hcl
  config/README.md
  config/karpenter.tf
  config/variables.tf
  config/versions.tf
Due: terraform-docs-cluster, terraform-docs-config

feat: support the creation on multi node pools
  config/README.md
  config/data.tf
  config/karpenter.tf
  config/terraform.tfvars
  config/variables.tf
Due: terraform-docs-config

chore: modernise the AMI used by the ec2nodeclass
  config/README.md
  config/karpenter.tf
  config/variables.tf
Due: terraform-docs-config

fix: fix housekeeping on volumes after node termination
  config/karpenter.tf
Due: terraform-docs-config

chore: group AWS resources into the aws folder
  .gitignore
  .pre-commit-config.yaml
  README.md
  aws/cluster/.terraform.lock.hcl
  aws/cluster/README.md
  aws/cluster/data.tf
  aws/cluster/ebs.tf
  aws/cluster/eks.tf
  aws/cluster/iam.tf
  aws/cluster/outputs.tf
  aws/cluster/provider.tf
  aws/cluster/terraform.tfvars
  aws/cluster/variables.tf
  aws/cluster/versions.tf
  aws/cluster/vpc.tf
  aws/config/.terraform.lock.hcl
  aws/config/README.md
  aws/config/data.tf
  aws/config/ecr.tf
  aws/config/eip.tf
  aws/config/karpenter.tf
  aws/config/metrics.tf
  aws/config/msk.tf
  aws/config/provider.tf
  aws/config/rds.tf
  aws/config/route53.tf
  aws/config/s3.tf
  aws/config/ses.tf
  aws/config/terraform.tfvars
  aws/config/variables.tf
  aws/config/versions.tf
  azure/.terraform.lock.hcl
  devbox.json
Due: terraform-docs-cluster, terraform-docs-config

chore: specify AL2023 AMIs to deprecate AL2 AMIs
  aws/cluster/eks.tf
Due: terraform-docs-cluster

feat: ignore volume size drift since MSK auto-scaling could be switched on
  aws/config/msk.tf
Due: terraform-docs-config

chore: specify AL2023 AMIs to deprecate AL2 AMIs (#61)
  aws/cluster/eks.tf
Due: terraform-docs-cluster

feat: ignore volume size drift since MSK auto-scaling could be switched on (#62)
  aws/config/msk.tf
Due: terraform-docs-config

RB-92 support EKS 1.32 and drop the 1.28 support
  aws/cluster/README.md
  aws/cluster/data.tf
  aws/cluster/ebs.tf
  aws/cluster/terraform.tfvars
  aws/cluster/variables.tf
Due: terraform-docs-cluster

RB-92 support EKS 1.32 and drop the 1.28 support (#63)
  aws/cluster/README.md
  aws/cluster/data.tf
  aws/cluster/ebs.tf
  aws/cluster/terraform.tfvars
  aws/cluster/variables.tf
Due: terraform-docs-cluster

fix: handle potential conflicts during Kafka configuration updates
  aws/config/.terraform.lock.hcl
  aws/config/README.md
  aws/config/msk.tf
  aws/config/variables.tf
  aws/config/versions.tf
Due: terraform-docs-config

RB-98 add option to enforce MFA when assuming the EKS admin role
  aws/cluster/README.md
  aws/cluster/iam.tf
  aws/cluster/variables.tf
Due: terraform-docs-cluster

RB-100 upgrade Karpenter and change CreateFleet policies mandated by AWS
  aws/config/README.md
  aws/config/karpenter.tf
  aws/config/variables.tf
Due: terraform-docs-config

ci: update the hashes in provider hashes
  aws/cluster/.terraform.lock.hcl
  aws/config/.terraform.lock.hcl
Due: terraform-docs-cluster, terraform-docs-config

DT-23 associate the S3 VPC endpoint with the route table
  aws/cluster/README.md
  aws/cluster/vpc.tf
Due: terraform-docs-cluster

DT-23 install Nix before devbox in the CI
  .github/workflows/pre-commit.yaml
Due: none

RB-101 upgrade the postgresql engine
  aws/config/README.md
  aws/config/rds.tf
  aws/config/variables.tf
Due: terraform-docs-config

update cluster & karpenter policy
  aws/cluster/data.tf
  aws/cluster/terraform.tfvars
  aws/cluster/variables.tf
  aws/config/karpenter.tf
  aws/config/variables.tf
Due: terraform-docs-cluster, terraform-docs-config

fix: fix karpenter policy resource references and update docs
  aws/cluster/README.md
  aws/config/README.md
  aws/config/karpenter.tf
  azure/postgresql-flexible-server/.terraform.lock.hcl
Due: terraform-docs-cluster, terraform-docs-config

fix: fix karpenter policy resource references and update docs
  aws/config/README.md
  aws/config/variables.tf
Due: terraform-docs-config

update readme.md doc to enable cp_kafka & decommission MSK cluster
  README.md
  aws/cluster/.terraform.lock.hcl
Due: terraform-docs-cluster

RBT-118 switch to AmazonEBSCSIDriverPolicyV2 for security hardening
  aws/cluster/.terraform.lock.hcl
  aws/cluster/eks.tf
Due: terraform-docs-cluster

replace deprecated kubernetes dashboard with headlamp
  README.md
  aws/config/README.md
  aws/config/metrics.tf
  aws/config/variables.tf
Due: terraform-docs-config

update readme.md on how to access headlamp
  README.md
Due: none

docs: update readme.md
  README.md
Due: none

fix snake case syntax
  aws/config/metrics.tf
Due: terraform-docs-config
