Repository RADAR-base/RADAR-K8s-Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-docs-cluster, terraform-docs-config

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        config/README.md|
        cluster/README.md
      )$
  - id: mixed-line-ending
  - id: check-yaml
    args:
    - --allow-multiple-documents
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-merge-conflict
  - id: no-commit-to-branch
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.96.2
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
  - id: terraform_tflint
  # - id: terraform_trivy
  #   args:
  #   - --args=--severity CRITICAL
  #   - --args=--skip-dirs="**/.terraform"
  # - id: terraform_checkov
  #   args:
  #   - --args=--quiet
  #   - --args=--skip-check CKV_AWS_23,CKV_AWS_355,CKV_AWS_290 # Temporarly skip these checks, Helm chart testing isn't needed for the repo
- repo: local
  hooks:
  - id: terraform-docs-cluster
    name: Generate docs for the Terraform cluster/
    language: system
    entry: terraform-docs markdown table cluster/
    pass_filenames: false
    files: 'cluster/'
  - id: terraform-docs-config
    name: Generate docs for the Terraform config/
    language: system
    entry: terraform-docs markdown table config/
    pass_filenames: false
    files: 'config/'

configure and enable trivy and checkov
  .pre-commit-config.yaml
  cluster/README.md
  cluster/eks.tf
  cluster/iam.tf
  cluster/variables.tf
  cluster/vpc.tf
  config/README.md
  config/data.tf
  config/rds.tf
  config/s3.tf
Due: terraform-docs-cluster, terraform-docs-config

Ensure Terraform module sources use a commit hash
  .pre-commit-config.yaml
  cluster/README.md
  cluster/eks.tf
  cluster/iam.tf
  cluster/vpc.tf
  config/README.md
  config/karpenter.tf
  config/route53.tf
Due: terraform-docs-cluster, terraform-docs-config

Skip checkov checks in resource blocks instead of global skip
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  cluster/iam.tf
  cluster/vpc.tf
  config/eip.tf
  config/rds.tf
  config/route53.tf
  config/s3.tf
Due: terraform-docs-cluster, terraform-docs-config

Ask Trivy to report MEDIUM and HIGH issues as well
  .pre-commit-config.yaml
  config/msk.tf
  config/rds.tf
Due: terraform-docs-config

resolve issues reported by Trivy
  config/README.md
  config/msk.tf
  config/rds.tf
  config/terraform.tfvars
  config/variables.tf
Due: terraform-docs-config

add descriptions to the VPC endpoint SG and rules
  cluster/vpc.tf
Due: terraform-docs-cluster

Skip no-commit-to-branch hook during CI
  .github/workflows/pre-commit.yaml
Due: none

feat: added more commit hooks
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  README.md
  cluster/iam.tf
  config/variables.tf
  devbox.json
  devbox.lock
Due: terraform-docs-cluster, terraform-docs-config

fix: trivy ci fail
  .pre-commit-config.yaml
Due: none

feat: update terraform modules when running hooks
  .pre-commit-config.yaml
  cluster/.terraform.lock.hcl
  cluster/README.md
  config/.terraform.lock.hcl
  config/README.md
Due: terraform-docs-cluster, terraform-docs-config

feat: add pull-through cache for Docker Hub images
  README.md
  cluster/.terraform.lock.hcl
  cluster/README.md
  cluster/iam.tf
  cluster/terraform.tfvars
  cluster/variables.tf
  cluster/versions.tf
  config/.terraform.lock.hcl
  config/README.md
  config/ecr.tf
  config/terraform.tfvars
  config/variables.tf
  config/versions.tf
  devbox.json
Due: terraform-docs-cluster, terraform-docs-config

feat: add the lambda function for secret rotation
  .gitignore
  config/.terraform.lock.hcl
  config/README.md
  config/ecr.tf
  config/versions.tf
Due: terraform-docs-config

feat: add the ECR repository creation template for Docker Hub image PTC
  cluster/README.md
  cluster/iam.tf
  cluster/versions.tf
  config/README.md
  config/ecr.tf
  config/versions.tf
Due: terraform-docs-cluster, terraform-docs-config

chore: tidy up the permissions for PTC and RCT
  cluster/README.md
  cluster/iam.tf
  cluster/variables.tf
  config/README.md
  config/ecr.tf
Due: terraform-docs-cluster, terraform-docs-config

import the primary hosted zone via data sources and add DMARC compliance
  cluster/.terraform.lock.hcl
  config/.terraform.lock.hcl
  config/README.md
  config/route53.tf
  config/ses.tf
  devbox.json
Due: terraform-docs-cluster, terraform-docs-config

add the SNS topic for SES bounce or complaint notifications (#25)
  config/README.md
  config/ses.tf
  config/terraform.tfvars
  config/variables.tf
Due: terraform-docs-config

import the primary hosted zone via data sources and add DMARC compliance (#49)
  config/README.md
  config/route53.tf
  config/ses.tf
Due: terraform-docs-config

fix: output the correct EKS admins role ARN
  cluster/README.md
  cluster/outputs.tf
Due: terraform-docs-cluster

chore: update the RDS postgres minor version
  config/README.md
  config/variables.tf
Due: terraform-docs-config

fix: fully disable the canned ACL during bucket creation
  config/README.md
  config/s3.tf
Due: terraform-docs-config

doc: add visualisation on generated resources
  .pre-commit-config.yaml
  README.md
  cluster/.terraform.lock.hcl
  cluster/README.md
  config/.terraform.lock.hcl
  config/README.md
  image/radar_k8s_resources.png
Due: terraform-docs-cluster, terraform-docs-config

Add IntelliJ IDEA project files to .gitignore
  .gitignore
  .idea/.gitignore
Due: none

Add Azure resource configurations for networking, AKS, ACR, PostgreSQL, and Front Door.
  .gitignore
  azure/.terraform.lock.hcl
  azure/acr.tf
  azure/aks.tf
  azure/database.tf
  azure/frontend.tf
  azure/main.tf
  azure/network.tf
  azure/outputs.tf
  azure/provider.tf
  azure/variables.tf
Due: none

Add Azure Load Balancer and AKS Ingress configurations
  azure/.terraform.lock.hcl
  azure/aks_ingress.tf
  azure/loadbalancer.tf
  azure/outputs.tf
Due: none

Reorganize Terraform configuration to modular structure and update provider versions
  azure/.terraform.lock.hcl
  azure/acr.tf
  azure/aks.tf
  azure/aks_ingress.tf
  azure/database.tf
  azure/frontend.tf
  azure/loadbalancer.tf
  azure/main.tf
  azure/network.tf
  azure/outputs.tf
  azure/provider.tf
  azure/variables.tf
Due: none

Reorganize Terraform configuration to modular structure and update provider versions
  azure/kubernetes/main.tf
  azure/kubernetes/outputs.tf
  azure/kubernetes/rbac.tf
  azure/kubernetes/rbac_variables.tf
  azure/kubernetes/variables.tf
  azure/network/main.tf
  azure/network/outputs.tf
  azure/network/variables.tf
  azure/registry/main.tf
  azure/registry/outputs.tf
  azure/registry/variables.tf
Due: none

Add README for Azure Terraform functionality detailing setup and usage instructions.
  azure/README.md
Due: none

Remove default values
  azure/variables.tf
Due: none

Add PostgreSQL Flexible Server module and integration
  azure/.terraform.lock.hcl
  azure/README.md
  azure/main.tf
  azure/network/main.tf
  azure/network/outputs.tf
  azure/network/variables.tf
  azure/outputs.tf
  azure/postgresql-flexible-server/main.tf
  azure/postgresql-flexible-server/outputs.tf
  azure/postgresql-flexible-server/variables.tf
  azure/provider.tf
  azure/variables.tf
Due: none

Update PostgreSQL server configuration and variable descriptions
  azure/postgresql-flexible-server/main.tf
  azure/postgresql-flexible-server/variables.tf
Due: none

Update Terraform configuration for improved modularity and dependency management
  azure/main.tf
  azure/network/main.tf
  azure/provider.tf
  azure/variables.tf
Due: none

Remove default value for subscription_id variable in Azure configuration
  azure/variables.tf
Due: none

Align indentation in Terraform modules and update provider versions
  azure/.terraform.lock.hcl
  azure/main.tf
  azure/provider.tf
Due: none

Update devbox-install-action to version v0.13.6 in pre-commit workflow.
  .github/workflows/pre-commit.yaml
Due: none

Revert devbox-install-action and schema to version 0.11.0 for compatibility
  .github/workflows/pre-commit.yaml
  devbox.json
Due: none

Add Terraform version constraints and cleanup unused variables in Azure configuration files
  .github/workflows/pre-commit.yaml
  azure/kubernetes/main.tf
  azure/kubernetes/rbac_variables.tf
  azure/main.tf
  azure/network/main.tf
  azure/postgresql-flexible-server/main.tf
  azure/registry/main.tf
  azure/variables.tf
Due: none

Add functionality to handle user input for login form validation
  .github/workflows/pre-commit.yaml
Due: none

Consolidate ACR variable setup and update pre-commit configurations
  .pre-commit-config.yaml
  azure/kubernetes/rbac.tf
  azure/kubernetes/rbac_variables.tf
  azure/kubernetes/variables.tf
  azure/main.tf
Due: none

Add Azure infrastructure with Terraform
  .gitignore
  .pre-commit-config.yaml
  .trivyignore
  azure/README.md
  azure/kubernetes/main.tf
  azure/kubernetes/outputs.tf
  azure/kubernetes/rbac.tf
  azure/kubernetes/variables.tf
  azure/main.tf
  azure/network/main.tf
  azure/network/outputs.tf
  azure/network/variables.tf
  azure/outputs.tf
  azure/postgresql-flexible-server/main.tf
  azure/postgresql-flexible-server/outputs.tf
  azure/postgresql-flexible-server/variables.tf
  azure/provider.tf
  azure/registry/main.tf
  azure/registry/outputs.tf
  azure/registry/variables.tf
  azure/variables.tf
Due: none

feat: Add Terraform provider lock files and update provider versions for Azure
  azure/.terraform.lock.hcl
  azure/kubernetes/.terraform.lock.hcl
  azure/network/.terraform.lock.hcl
  azure/postgresql-flexible-server/.terraform.lock.hcl
  azure/registry/.terraform.lock.hcl
  cluster/.terraform.lock.hcl
  cluster/README.md
  config/.terraform.lock.hcl
  config/README.md
  devbox.lock
Due: terraform-docs-cluster, terraform-docs-config
