Repository RADAR-base/RADAR-K8s-Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-docs-cluster, terraform-docs-config

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/crate-ci/typos
  rev: v1.28.4
  hooks:
  - id: typos
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
- repo: https://github.com/thlorenz/doctoc
  rev: v2.2.0
  hooks:
  - id: doctoc
    files: ^README.md$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        config/README.md|
        cluster/README.md
      )$
  - id: mixed-line-ending
  - id: check-yaml
    args:
    - --allow-multiple-documents
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-merge-conflict
  - id: no-commit-to-branch
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.96.2
  hooks:
  - id: terraform_fmt
  - id: terraform_validate
  - id: terraform_tflint
  - id: terraform_trivy
    args:
    - --hook-config=--parallelism-limit=1
    - --args=--severity MEDIUM,HIGH,CRITICAL
    - --args=--skip-dirs="*/.terraform"
    - --args=--tf-exclude-downloaded-modules
  - id: terraform_checkov
    args:
    - --args=--quiet
    - --args=--download-external-modules False
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.5
  hooks:
  - id: actionlint-system
- repo: local
  hooks:
  - id: update-terraform-modules-cluster
    name: Update terraform modules for the Terraform cluster/
    language: system
    entry: terraform -chdir=cluster init -upgrade
    pass_filenames: false
  - id: terraform-docs-cluster
    name: Generate docs for the Terraform cluster/
    language: system
    entry: terraform-docs markdown table cluster/
    pass_filenames: false
    files: 'cluster/'
  - id: update-terraform-modules-config
    name: Update terraform modules for the Terraform config/
    language: system
    entry: terraform -chdir=config init -upgrade
    pass_filenames: false
  - id: terraform-docs-config
    name: Generate docs for the Terraform config/
    language: system
    entry: terraform-docs markdown table config/
    pass_filenames: false
    files: 'config/'
  - id: gitleaks
    name: Run Gitleaks
    language: system
    entry: gitleaks dir --verbose
    require_serial: true
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.1.0
  hooks:
  - id: commitizen
  - id: commitizen-branch
    stages: [pre-push]
    args: [--rev-range, b8223c2d9c5368587ece45f19e36d5909afb8cce..HEAD]

RBT-195 add pull-through cache configuration for GHCR
  aws/cluster/.terraform.lock.hcl
  aws/config/README.md
  aws/config/ecr.tf
  aws/config/variables.tf
Due: terraform-docs-cluster, terraform-docs-config

chore: remove unused subnets from VPC endpoints
  aws/cluster/vpc.tf
Due: terraform-docs-cluster

fix: add ECR policies and S3 VPCE routing for the DMZ NG
  aws/cluster/.terraform.lock.hcl
  aws/cluster/README.md
  aws/cluster/eks.tf
  aws/cluster/vpc.tf
Due: terraform-docs-cluster

test: add tests for cluster VPC and config defaults
  .pre-commit-config.yaml
  aws/cluster/tests/mocks/data.tfmock.hcl
  aws/cluster/tests/test_vpc.tftest.hcl
  aws/config/tests/mocks/data.tfmock.hcl
  aws/config/tests/test_defaults.tftest.hcl
Due: terraform-docs-cluster, terraform-docs-config

test: add tests for other required and optional resources
  aws/cluster/tests/test_ebs_storage_class.tftest.hcl
  aws/cluster/tests/test_eks_addons.tftest.hcl
  aws/cluster/tests/test_variables.tftest.hcl
  aws/config/tests/test_defaults.tftest.hcl
  aws/config/tests/test_ecr_ptc.tftest.hcl
  aws/config/tests/test_karpenter.tftest.hcl
  aws/config/tests/test_metrics.tftest.hcl
  aws/config/tests/test_msk.tftest.hcl
  aws/config/tests/test_rds.tftest.hcl
  aws/config/tests/test_s3.tftest.hcl
  aws/config/tests/test_ses_route53.tftest.hcl
  aws/config/tests/test_variables.tftest.hcl
Due: terraform-docs-cluster, terraform-docs-config

chore: deprecate EIP's vpc argument
  aws/config/eip.tf
Due: terraform-docs-config
